<main class="main container">
    <div class="sub-header fixed-top">
        <div id="top" class="row container">
            <div id="button-group" class="col mobile-12 tablet-8 pc-8">
                <button class="btn activated filter-button mb-2" data-filter="all">Tất cả</button>
                <button class="btn filter-button mb-2" data-filter="shirt">Áo</button>
                <button class="btn filter-button mb-2" data-filter="pants">Quần</button>
                <button class="btn filter-button mb-2" data-filter="shoes">Giày</button>
                <button class="btn filter-button mb-2" data-filter="another">Khác</button>
            </div>
            <div class="col mobile-12 tablet-4 pc-4 d-flex justify-content-end align-items-center container">
                <div class="view-style">
                    <select class="form-select sorting type-regular" name="sorting">
                      <option disabled selected hidden>Sắp xếp</option>
                      <option value="promotion">% giảm</option>
                      <option value="low">Giá thấp đến cao</option>
                      <option value="high">Giá cao đến thấp</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <section class="section row">
        <div class="col tablet-12 pc-3 mobile-12 sidebar-box">
            <div id="sticky-anchor"></div>
            <div class="row sidebar p-2 mb-5">
                <form method="get" action="#" data-aos="fade-right">
                    <div class="box-left-content mb-2 row">
                        <li style="color: #ba933e">
                            <h4>GIÁ SẢN PHẨM</h4>
                        </li>
                        <div class="content-box-left">
                            <div class="d-flex justify-content-between row">
                                <small class="from-price pull-left col mobile-6" style="text-align: left;">0</small>
                                <small class="to-price pull-right col mobile-6" style="text-align: right;">2,000,000</small>
                            </div>
                            <p>
                                <input class="col-12" type="range" id="defaultRange" name="pointRange" value="0">
                            </p>
                        </div>
                    </div>
                    <div class="box-left-content mb-2 row">
                        <li style="color: #ba933e">
                            <h4>TRẠNG THÁI</h4>
                        </li>
                        <div class="col mobile-6 tablet-6 pc-6">
                            <label><input style=" margin: 3px 6px 3px 4px;" name="confirm" type="checkbox" />Mới về</label>
                        </div>
                        <div class="col mobile-6 tablet-6 pc-6">
                            <label><input style=" margin: 3px 6px 3px 4px;" name="confirm" type="checkbox" />Nổi bật</label>
                        </div>
                        <div class="col mobile-6 tablet-6 pc-6">
                            <label><input style=" margin: 3px 6px 3px 4px;" name="confirm"    type="checkbox" />Giảm giá</label>
                        </div>
                        <div class="col mobile-6 tablet-6 pc-6">
                            <label><input style=" margin: 3px 6px 3px 4px;" name="confirm" type="checkbox" />Còn hàng</label>
                        </div>
                    </div>
                    <div class="box-left-content mb-2 row">
                        <li style="color: #ba933e">
                            <h4>MÀU SẮC</h4>
                        </li>
                        <li class="cb-color">
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #fefbef;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #455851;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #ebd0a2;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #C3C3C3;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #1C487C;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #865439;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #FFFFFF;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #6D9951;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #8A5CA0;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #F1778A;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #F5D255;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #E9662C;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #c10013;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #464646;"></span></button>
                        </li>
                    </div>

                    <div class="box-left-content mb-2 row">
                        <li style="color: #ba933e" class="pb-2">
                            <h4>SIZE</h4>
                        </li>
                        <li class="cb-button pb-3 row" id="button-group2">
                            <button type="button" class="size btn col activated2" onclick="clothesSize()">Quần áo</button>
                            <button type="button" class="size btn col" onclick="shoesSize()">Giày</button>
                        </li>
                        <li class="cb-size size-clothes row">
                            <button type="button" class="size btn col">FREE</button>
                            <button type="button" class="size btn col">S</button>
                            <button type="button" class="size btn col">M</button>
                            <button type="button" class="size btn col">L</button>
                            <button type="button" class="size btn col">XL</button>
                            <button type="button" class="size btn col">XXL</button>
                        </li>
                        <li class="cb-size size-shoes row">
                            <button type="button" class="size btn col pc-2">34</button>
                            <button type="button" class="size btn col pc-2">34.5</button>
                            <button type="button" class="size btn col pc-2">35</button>
                            <button type="button" class="size btn col pc-2">35.5</button>
                            <button type="button" class="size btn col pc-2">36</button>
                            <button type="button" class="size btn col pc-2">36.5</button>
                            <button type="button" class="size btn col pc-2">37</button>
                            <button type="button" class="size btn col pc-2">37.5</button>
                            <button type="button" class="size btn col pc-2">38</button>
                            <button type="button" class="size btn col pc-2">38.5</button>
                            <button type="button" class="size btn col pc-2">39</button>
                            <button type="button" class="size btn col pc-2">39.5</button>
                            <button type="button" class="size btn col pc-2">40</button>
                            <button type="button" class="size btn col pc-2">40.5</button>
                            <button type="button" class="size btn col pc-2">41</button>
                            <button type="button" class="size btn col pc-2">41.5</button>
                            <button type="button" class="size btn col pc-2">42</button>
                            <button type="button" class="size btn col pc-2">42.5</button>
                            <button type="button" class="size btn col pc-2">43</button>
                            <button type="button" class="size btn col pc-2">43.5</button>
                            <button type="button" class="size btn col pc-2">44</button>
                        </li>
                    </div>
                </form>
            </div>
        </div>
        <div class="col tablet-12 pc-9 col mobile-12 pb-5 gird-product" style="margin-top: 70px;">
            <div id="box-list-product">
                <div class="row products">
                    <div class="col mobile-6 tablet-6 pc-4 filter {{p.type}}" *ngFor="let p of products">
                        <div class="item-product">
                            <a routerLink="/products-details">
                                <div class="inforBox" title="">
                                    <div class="promotion">{{p.promotion}}</div><img src="{{p.img}}" alt="Áo">
                                </div>
                                <div class="infor">{{p.name}}
                                    <div class="cost"><s>{{p.originalPrice}}</s><b class="w3-text-teal">{{p.price}}</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="p-3 d-flex justify-content-center col mobile-12">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                        <li class="page-item"><a class="page-link active" href="javascript:void(0)">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">6</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>