<main class="main container">
    <div class="sub-header fixed-top">
        <div id="top" class="row container">
            <div id="button-group" class="col mobile-12 tablet-8 pc-8">
                <button class="btn activated filter-button mb-2" data-filter="all">Tất cả</button>
                <button class="btn filter-button mb-2" data-filter="shirt">Áo</button>
                <button class="btn filter-button mb-2" data-filter="pants">Quần</button>
                <button class="btn filter-button mb-2" data-filter="shoes">Giày</button>
                <button class="btn filter-button mb-2" data-filter="another">Khác</button>
            </div>
            <div class="col mobile-12 tablet-4 pc-4 d-flex justify-content-end align-items-center container">
                <div class="view-style">
                    <div id="select">
                        <select class="form-select sorting type-regular" name="sorting">
                                <option disabled selected hidden>Sắp xếp</option>
                                <option value="promotion">% giảm</option>
                                <option value="l2h">Giá thấp đến cao</option>
                                <option value="h2l">Giá cao đến thấp</option>
                            </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section row">
        <div class="col tablet-12 pc-3 mobile-12 sidebar-box">
            <div id="sticky-anchor"></div>
            <div class="row sidebar p-2 mb-5">
                <form method="get" action="#" data-aos="fade-right">
                    <div class="box-left-content mb-2 row">
                        <li style="color: #ba933e">
                            <h4>GIÁ SẢN PHẨM</h4>
                        </li>
                        <div class="content-box-left">
                            <div class="d-flex justify-content-between row">
                                <small class="from-price pull-left col mobile-6" style="text-align: left;">0</small>
                                <small class="to-price pull-right col mobile-6" style="text-align: right;">2,000,000</small>
                            </div>
                            <p>
                                <input class="col-12" type="range" id="defaultRange" name="pointRange" value="0">
                            </p>
                        </div>
                    </div>
                    <div class="box-left-content mb-2 row">
                        <li style="color: #ba933e">
                            <h4>TRẠNG THÁI</h4>
                        </li>
                        <div class="col mobile-6 tablet-6 pc-6">
                            <label><input style=" margin: 3px 6px 3px 4px;" name="confirm" type="checkbox" />Mới về</label>
                        </div>
                        <div class="col mobile-6 tablet-6 pc-6">
                            <label><input style=" margin: 3px 6px 3px 4px;" name="confirm" type="checkbox" />Nổi bật</label>
                        </div>
                        <div class="col mobile-6 tablet-6 pc-6">
                            <label><input style=" margin: 3px 6px 3px 4px;" name="confirm"    type="checkbox" />Giảm giá</label>
                        </div>
                        <div class="col mobile-6 tablet-6 pc-6">
                            <label><input style=" margin: 3px 6px 3px 4px;" name="confirm" type="checkbox" />Còn hàng</label>
                        </div>
                    </div>
                    <div class="box-left-content mb-2 row">
                        <li style="color: #ba933e">
                            <h4>MÀU SẮC</h4>
                        </li>
                        <li class="cb-color">
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #fefbef;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #455851;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #ebd0a2;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #C3C3C3;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #1C487C;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #865439;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #FFFFFF;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #6D9951;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #8A5CA0;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #F1778A;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #F5D255;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #E9662C;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #c10013;"></span></button>
                            <button type="button" class="btn color"><span class="bg-color" style="background-color: #464646;"></span></button>
                        </li>
                    </div>

                    <div class="box-left-content mb-2 row">
                        <li style="color: #ba933e" class="pb-2">
                            <h4>SIZE</h4>
                        </li>
                        <li class="cb-button pb-3 row" id="button-group2">
                            <button type="button" class="size btn col activated2" onclick="clothesSize()">Quần áo</button>
                            <button type="button" class="size btn col" onclick="shoesSize()">Giày</button>
                        </li>
                        <li class="cb-size size-clothes row">
                            <button type="button" class="size btn col">FREE</button>
                            <button type="button" class="size btn col">S</button>
                            <button type="button" class="size btn col">M</button>
                            <button type="button" class="size btn col">L</button>
                            <button type="button" class="size btn col">XL</button>
                            <button type="button" class="size btn col">XXL</button>
                        </li>
                        <li class="cb-size size-shoes row">
                            <button type="button" class="size btn col pc-2">34</button>
                            <button type="button" class="size btn col pc-2">34.5</button>
                            <button type="button" class="size btn col pc-2">35</button>
                            <button type="button" class="size btn col pc-2">35.5</button>
                            <button type="button" class="size btn col pc-2">36</button>
                            <button type="button" class="size btn col pc-2">36.5</button>
                            <button type="button" class="size btn col pc-2">37</button>
                            <button type="button" class="size btn col pc-2">37.5</button>
                            <button type="button" class="size btn col pc-2">38</button>
                            <button type="button" class="size btn col pc-2">38.5</button>
                            <button type="button" class="size btn col pc-2">39</button>
                            <button type="button" class="size btn col pc-2">39.5</button>
                            <button type="button" class="size btn col pc-2">40</button>
                            <button type="button" class="size btn col pc-2">40.5</button>
                            <button type="button" class="size btn col pc-2">41</button>
                            <button type="button" class="size btn col pc-2">41.5</button>
                            <button type="button" class="size btn col pc-2">42</button>
                            <button type="button" class="size btn col pc-2">42.5</button>
                            <button type="button" class="size btn col pc-2">43</button>
                            <button type="button" class="size btn col pc-2">43.5</button>
                            <button type="button" class="size btn col pc-2">44</button>
                        </li>
                    </div>
                </form>
            </div>
        </div>
        <div class="col tablet-12 pc-9 col mobile-12 pb-5 gird-product" style="margin-top: 70px;">
            <div id="box-list-product">
                <div class="row products">
                    <div class="col mobile-6 tablet-6 pc-4 filter shirt" data-price="300" data-percent="10">
                        <div class="item-product">
                            <a routerLink="/products-details">
                                <div class="inforBox" title="">
                                    <div class="promotion">10%</div><img src="https://traffic-edge48.cdn.vncdn.io/nvn/ncdn/store/7136/ps/20220711/IMG_9207.jpg" alt="Áo">
                                </div>
                                <div class="infor">TANK TOP NAM - BEAT THE HEAT
                                    <div class="cost"> <s>330.000đ</s> <b class="w3-text-teal">300.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter pants" data-price="210" data-percent="30">
                        <div class="item-product">
                            <a routerLink="/products-details">
                                <div class="inforBox" title="">
                                    <div class="promotion">30%</div><img src="https://fs-07.web4s.vn/uploads/plugin/product_items/27/qu-n-short-nam-aso027s7-quan-short-nam-aristino-aso027s7-large.jpg" alt="">
                                </div>
                                <div class="infor">Quần short A15896
                                    <div class="cost"> <s>320.000đ</s> <b class="w3-text-teal">210.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter shirt" data-price="210" data-percent="50">
                        <div class="item-product">
                            <a routerLink="/products-details">
                                <div class="inforBox" title="">
                                    <div class="promotion">50%</div><img src="https://traffic-edge40.cdn.vncdn.io/nvn/ncdn/store/7136/ps/20220607/07062022100620_Web_Dai_dien.jpg" alt="">
                                </div>
                                <div class="infor">SƠMI NAM - SLAY YOUR DAY
                                    <div class="cost"> <s>400.000đ</s> <b class="w3-text-teal">200.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter another" data-price="599" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/phukien/k0c28bx25-5334-1_1_1.webp" alt="">
                                </div>
                                <div class="infor">Kappa túi nữ
                                    <div class="cost"> <b class="w3-text-teal">599.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter shoes" data-price="650" data-percent="20">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title="">
                                    <div class="promotion">20%</div><img src="https://ananas.vn/wp-content/uploads/pro_A61092_1_1.jpg" alt="">
                                </div>
                                <div class="infor">URBAS CORLURAY - HIGH TOP - GRASSES
                                    <div class="cost"> <s>780.000đ</s> <b class="w3-text-teal">650.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter pants" data-price="350" data-percent="20">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title="">
                                    <div class="promotion">20%</div><img src="https://fs-07.web4s.vn/uploads/plugin/product_items/24/qu-n-short-nam-aso020s7-quan-short-nam-aristino-aso017s7-large.jpg" alt="">
                                </div>
                                <div class="infor">Quần short A0226
                                    <div class="cost"> <b class="w3-text-teal">350.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter another" data-price="349" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="https://cdn.shopify.com/s/files/1/0329/1912/6147/products/LethnicVinganggapdoiminicosynau01_500x.jpg?v=1625333826" alt="">
                                </div>
                                <div class="infor">Mini Cosy - Ví Gập Đôi Mini.
                                    <div class="cost"> <b class="w3-text-teal">349.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter shirt" data-price="200" data-percent="0">
                        <div class="item-product">
                            <a routerLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/ao/trang.webp" alt="">
                                </div>
                                <div class="infor">Ecko Unltd nam áo thun tay ngắn
                                    <div class="cost"> <b class="w3-text-teal">200.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter pants" data-price="212" data-percent="15">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title="">
                                    <div class="promotion">15%</div><img src="https://th.bing.com/th/id/OIP.NSWFAZ5dQ-JVzFfhArm33QHaJ4?w=164&h=219&c=7&r=0&o=5&dpr=1.25&pid=1.7" alt="">
                                </div>
                                <div class="infor">Quần short A0197
                                    <div class="cost"> <s>250.000đ</s> <b class="w3-text-teal">212.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter another" data-price="349" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/phukien/s7127hw-alj-fix1.webp" alt="">
                                </div>
                                <div class="infor">Superga nón nam/nữ
                                    <div class="cost"> <b class="w3-text-teal">349.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter shirt" data-price="200" data-percent="50">
                        <div class="item-product">
                            <a routerLink="/products-details">
                                <div class="inforBox" title="">
                                    <div class="promotion">50%</div><img src="assets/img/ao/polo-xanh-navy.webp" alt="">
                                </div>
                                <div class="infor">ECKO UNLTD ÁO CÓ CỔ MEN
                                    <div class="cost"> <s>400.000đ</s> <b class="w3-text-teal">200.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter pants" data-price="135" data-percent="10">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title="">
                                    <div class="promotion">10%</div><img src="https://th.bing.com/th/id/OIP.D87E9xx0y4VTm6PrE0-6AwHaJ4?w=151&h=201&c=7&r=0&o=5&dpr=1.25&pid=1.7" alt="">
                                </div>
                                <div class="infor">Quần short A0195
                                    <div class="cost"> <s>150.000đ</s> <b class="w3-text-teal">135.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter pants" data-price="240" data-percent="20">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title="">
                                    <div class="promotion">20%</div><img src="https://fs-07.web4s.vn/uploads/plugin/product_items/28/qu-n-short-nam-aso024s7-quan-short-nam-aristino-aso020s7-01-large.jpg" alt="">
                                </div>
                                <div class="infor">Quần short A1979
                                    <div class="cost"> <s>300.000đ</s> <b class="w3-text-teal">240.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter pants" data-price="180" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="https://th.bing.com/th/id/OIP.ZbUbcm5kiIRBHjhnvfh6NQHaJ4?w=151&h=201&c=7&r=0&o=5&dpr=1.25&pid=1.7" alt="">
                                </div>
                                <div class="infor">Quần short A0997
                                    <div class="cost"> <b class="w3-text-teal">180.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter shoes" data-price="200" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/saleoff-items/be.jpg" alt="">
                                </div>
                                <div class="infor">Basas New Familiar - Low Top
                                    <div class="cost"> <b class="w3-text-teal">200.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter shirt" data-price="200" data-percent="50">
                        <div class="item-product">
                            <a routerLink="/products-details">
                                <div class="inforBox" title="">
                                    <div class="promotion">50%</div><img src="assets/img/ao/ao-xanh.jpg" alt="">
                                </div>
                                <div class="infor">Áo Thun Cookin
                                    <div class="cost"> <s>400.000đ</s> <b class="w3-text-teal">200.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter shoes" data-price="599" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/saleoff-items/den-cam.jpg" alt="">
                                </div>
                                <div class="infor">Vintas Bleached - Low Top
                                    <div class="cost"> <s>700.000</s> <b class="w3-text-teal">599.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter pants" data-price="180" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/quan/is22-35005-5_1_1.webp" alt="">
                                </div>
                                <div class="infor">Ecko Unltd nam quần Jeans slim fit
                                    <div class="cost"> <b class="w3-text-teal">180.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter shirt" data-price="249" data-percent="0">
                        <div class="item-product">
                            <a routerLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/ao/do.webp" alt="">
                                </div>
                                <div class="infor">Kappa nam áo thun tay ngắn
                                    <div class="cost"> <b class="w3-text-teal">249.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter shoes" data-price="300" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/saleoff-items/den-vang.jpg" alt="">
                                </div>
                                <div class="infor">Vintas Yesterday - High Top
                                    <div class="cost"> <b class="w3-text-teal">300.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter shoes" data-price="450" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/saleoff-items/do.jpg" alt="">
                                </div>
                                <div class="infor">Urbas Bloody - Low Top
                                    <div class="cost"> <b class="w3-text-teal">450.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter shoes" data-price="400" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/saleoff-items/do-trang.jpg" alt="">
                                </div>
                                <div class="infor">Basas New Familiar - Low Top
                                    <div class="cost"> <b class="w3-text-teal">400.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter pants" data-price="599" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/quan/is22-35003-lt._denim_wash-fix1_1_1.webp" alt="">
                                </div>
                                <div class="infor">Quần Jean DNST 1212 Carrot Fit
                                    <div class="cost"> <b class="w3-text-teal">599.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter pants" data-price="599" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/quan/is22-35013-grey-fix1_1_1.webp" alt="">
                                </div>
                                <div class="infor">Quần Jean DNST 1210 Carrot Fit
                                    <div class="cost"> <b class="w3-text-teal">599.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter shoes" data-price="499" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/saleoff-items/trang-sua.jpg" alt="">
                                </div>
                                <div class="infor">Urbas Unsettling - Low Top
                                    <div class="cost"> <b class="w3-text-teal">499.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter another" data-price="249" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/phukien/tai-beo.webp" alt="">
                                </div>
                                <div class="infor">Ecko Unltd nam nón
                                    <div class="cost"> <b class="w3-text-teal">249.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter shoes" data-price="1499" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/saleoff-items/xanh.jpg" alt="">
                                </div>
                                <div class="infor">Urbas Unsettling - High Top
                                    <div class="cost"> <b class="w3-text-teal">1.499.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter shoes" data-price="1000" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/saleoff-items/xanh-vang.jpg" alt="">
                                </div>
                                <div class="infor">Basas Simple Life - Low Top
                                    <div class="cost"> <b class="w3-text-teal">1.000.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter another" data-price="99" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/phukien/tat.webp" alt="">
                                </div>
                                <div class="infor">Kappa nam set 3 vớ cổ thấp
                                    <div class="cost"> <b class="w3-text-teal">99.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mobile-6 tablet-6 pc-4 filter another" data-price="99" data-percent="0">
                        <div class="item-product">
                            <a hrouterLink="/products-details">
                                <div class="inforBox" title=""><img src="assets/img/phukien/mu-trang.webp" alt="">
                                </div>
                                <div class="infor">Ecko Unltd nam nón
                                    <div class="cost"> <b class="w3-text-teal">99.000đ</b></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="p-3 d-flex justify-content-center col mobile-12">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                        <li class="page-item"><a class="page-link active" href="javascript:void(0)">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">6</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>