<div class="footer-subcrible" data-img="/Data/Sites/1/media/img/bg/footer-bg.jpg" style="background-position: center center; background-size: cover; background-image: url('/assets/img/bg.webp');" data-aos="fade-up">
    <div class="container">
        <div class="subcrible-content">
            <div class="email-input pt-3">
                <h3><b class="bg-dark text-light">
                    ĐĂNG KÝ NHẬN THÔNG TIN KHUYẾN MÃI:
                </b></h3>
                <div class="row box-subcrible">
                    <div class="form-floating row d-flex align-items-center mobile-11">
                        <input class="form-control" id="email-input-subcrible" type="email" placeholder="Nhập email để nhận thông tin khuyến mãi">
                        <label class="label-subcrible" style="margin-left:1.8%; opacity: 50%;" for="email-input-subcrible">Nhập email để nhận thông tin khuyến mãi</label>
                    </div>
                    <a href="javascript:void(0)" class="subcrible-button d-flex justify-content-center align-items-center mobile-1">
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-chart" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="pc-3 tablet-3 mobile-6">
                <div class="footer-item">
                    <div class="icon"><img src="/assets/img/icon-1.png" alt=""></div>
                    <div class="text">Cam kết chính hãng 100%</div>
                </div>
            </div>
            <div class="pc-3 tablet-3 mobile-6">
                <div class="footer-item">
                    <div class="icon"><img src="/assets/img/icon-2.png" alt=""></div>
                    <div class="text">Bảo hành 12 đến 24 tháng</div>
                </div>
            </div>
            <div class="pc-3 tablet-3 mobile-6">
                <div class="footer-item">
                    <div class="icon"><img src="/assets/img/icon-3.png" alt=""></div>
                    <div class="text">Giao hàng toàn quốc</div>
                </div>
            </div>
            <div class="pc-3 tablet-3 mobile-6">
                <div class="footer-item">
                    <div class="icon"><img src="/assets/img/icon-4.png" alt=""></div>
                    <div class="text">Đổi trả trong vòng 7 ngày</div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="text-lg-start text-white" style="background-color: #3e4551">
    <div class="container p-3 pb-0" id="pcFooter">
        <!-- Section: Links -->
        <section>
            <div class="footer-info pt-5" data-aos="fade-up">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="pc-4 tablet-6 mb-4 mb-md-0 col-footer">
                        <h5 class="text-uppercase fw-bold link-box">Công ty cổ phần HCJS</h5>
                        <p>
                            Trụ sở chính: Số 8, Đường Tôn Thất Thuyết, Mỹ Đình, Nam Từ Liêm, Hà Nội, Việt Nam
                        </p>
                        <p>Số điện thoại: +84 387 497 691</p>
                        <p>Fax: +8424 - 000.0000</p>
                        <p>Địa chỉ email: hello@hcjs.com</p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="pc-2 tablet-6 mb-4 mb-md-0 columSm">
                        <h5 class="text-uppercase fw-bold link-box">Thương hiệu</h5>
                        <ul class="list-unstyled mt-0 col-footer">
                            <li>
                                <a href="index.html#about" class="w3-text-light-gray">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="w3-text-light-gray">Tin tức</a>
                            </li>
                            <li>
                                <a routerLink="/recruit" class="w3-text-light-gray">Tuyển dụng</a>
                            </li>
                            <li>
                                <a href="index.html#contact" class="w3-text-light-gray">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="pc-2 tablet-6 mb-4 mb-md-0 columSm">
                        <h5 class="text-uppercase fw-bold link-box">HỖ TRỢ</h5>

                        <ul class="list-unstyled mb-0 col-footer">
                            <li>
                                <a href="index.html#QuestionForm" class="w3-text-light-gray">Hỏi đáp</a>
                            </li>
                            <li>
                                <a href="shipping.html" class="w3-text-light-gray">Chính sách vận chuyển</a>
                            </li>
                            <li>
                                <a href="return-policy.html" class="w3-text-light-gray">Quy định đổi hàng</a>
                            </li>
                            <li>
                                <a href="privacy.html" class="w3-text-light-gray">Chính sách bảo mật</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="pc-4 tablet-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase fw-bold link-box">PHƯƠNG THỨC THANH TOÁN</h5>
                        <ul class="list-unstyled mb-0 col-footer mt-4">
                            <li>
                                <p><img src="/assets/img/payment-method.png" alt=""></p>
                            </li>
                            <li>
                                <p>
                                    <a href="http://online.gov.vn/" target="_blank"><img src="/assets/img/bct.png" style="width: auto; height: 72px;" alt=""></a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="mb-2" />

        <!-- Section: Social media -->
        <section class="mb-2 ">
            <div class="d-flex justify-content-between row">
                <div class="d-flex align-items-center pc-8 tablet-8">
                    <div>
                        <b><h5 class="text-uppercase fw-bold link-box">
                            Theo dõi chúng tôi tại:
                        </h5></b>
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/" target="_blank" role="button"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="https://twitter.com/?lang=vi" target="_blank" role="button"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="https://accounts.google.com/signin/v2/identifier?hl=vi&continue=https%3A%2F%2Fwww.google.com%2F&ec=GAlAmgQ&flowName=GlifWebSignIn&flowEntry=AddSession" target="_blank"
                            role="button"><i class="fab fa-google"></i></a>
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="https://www.instagram.com/" target="_blank" role="button"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/" target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #ff0505;" href="https://www.youtube.com/" target="_blank" role="button"><i class="fab fa-brands fa-youtube"></i></a>
                    </div>
                </div>
                <div class="logo pc-4 tablet-4">
                    <a href="index.html"><img src="assets/img/logo.png" alt="" width="300px" height="auto"></a>
                </div>
            </div>
        </section>
    </div>
    <div class="container p-3 pb-0" id="footerMobile">
        <div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed accordion-button" data-bs-toggle="collapse" href="#collapseOne">Về công ty</a>
                </div>
                <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body p-5">
                        <h5 class="text-uppercase fw-bold link-box">Công ty cổ phần HCJS</h5>
                        <p>
                            Trụ sở chính: Số 8, Đường Tôn Thất Thuyết, Mỹ Đình, Nam Từ Liêm, Hà Nội, Việt Nam
                        </p>
                        <p>Số điện thoại: +84 387 497 691</p>
                        <p>Fax: +8424 - 000.0000</p>
                        <p>Địa chỉ email: hello@hcjs.com</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed accordion-button" data-bs-toggle="collapse" href="#collapseTwo">Thương hiệu</a>
                </div>
                <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body p-5">
                        <h5 class="text-uppercase fw-bold link-box">Thương hiệu</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="index.html#about" class="w3-text-light-gray">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="w3-text-light-gray">Tin tức</a>
                            </li>
                            <li>
                                <a routerLink="/recruit" class="w3-text-light-gray">Tuyển dụng</a>
                            </li>
                            <li>
                                <a href="index.html#contract" class="w3-text-light-gray">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed accordion-button" data-bs-toggle="collapse" href="#collapseThree">Hỗ trợ</a>
                </div>
                <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body p-5">
                        <h5 class="text-uppercase fw-bold link-box">HỖ TRỢ</h5>

                        <ul class="list-unstyled mb-0 col-footer">
                            <li>
                                <a href="index.html#QuestionForm" class="w3-text-light-gray">Hỏi đáp</a>
                            </li>
                            <li>
                                <a href="shipping.html" class="w3-text-light-gray">Chính sách vận chuyển</a>
                            </li>
                            <li>
                                <a href="return-policy.html" class="w3-text-light-gray">Quy định đổi hàng</a>
                            </li>
                            <li>
                                <a href="privacy.html" class="w3-text-light-gray">Chính sách bảo mật</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed accordion-button" data-bs-toggle="collapse" href="#collapseFour">Thanh toán</a>
                </div>
                <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body p-5">
                        <h5 class="text-uppercase fw-bold link-box">PHƯƠNG THỨC THANH TOÁN</h5>
                        <img src="/assets/img/payment-method.png" alt="" width="90%">
                    </div>
                </div>
            </div>

            <a class="pt-5" href="http://online.gov.vn/" target="_blank"><img src="/assets/img/bct.png" style="width: auto; height: 72px;" alt=""></a>
            <section class="pb-5">
                <div class="row" style="margin-left: 15px;">
                    <h5 class="mobile-12 text-uppercase fw-bold">Theo dõi chúng tôi tại:</h5>
                    <div class="row social-media-icon" style="text-align:center;">
                        <a class="btn btn-primary btn-floating mobile-2 m-1" style="background-color: #3b5998;" href="https://www.facebook.com/" target="_blank" role="button"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-floating mobile-2 m-1" style="background-color: #55acee;" href="https://twitter.com/?lang=vi" target="_blank" role="button"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-primary btn-floating mobile-2 m-1" style="background-color: #dd4b39;" href="https://accounts.google.com/signin/v2/identifier?hl=vi&continue=https%3A%2F%2Fwww.google.com%2F&ec=GAlAmgQ&flowName=GlifWebSignIn&flowEntry=AddSession" target="_blank"
                            role="button"><i class="fab fa-google"></i></a>
                        <a class="btn btn-primary btn-floating mobile-2 m-1" style="background-color: #ac2bac;" href="https://www.instagram.com/" target="_blank" role="button"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-primary btn-floating mobile-2 m-1" style="background-color: #ff0505;" href="https://www.youtube.com/" target="_blank" role="button"><i class="fab fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        ©T2204:
        <a class="text-primary" href="https://github.com/hvchunghp/projecT3.git" target="_blank"> Team 3</a>
    </div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"></a>
    <button id="open-chat" onclick="openForm()" class="animate__animated animate__flip"><i class="fa-solid fa-messages"></i></button>
    <div class="chat-popup " id="myForm">
        <form action="" class="form-chat">
            <h3>Chat cùng tư vấn viên</h3>
            <br>
            <div class="form-floating">
                <input class="form-control" id="name" type="text" placeholder="Họ và tên">
                <label for="name" class="text-dark" style="opacity: 0.5;">Họ và tên</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="phoneNumber" type="text" placeholder="Số diện thoại">
                <label for="phoneNumber" class="text-dark" style="opacity: 0.5;">Số điện thoại</label>
            </div>
            <label for="msg"><b class="text-dark">Tin nhắn</b></label>
            <textarea placeholder="Nhập tin nhắn..." name="msg" required></textarea>
            <button type="submit" class="btn">Gửi</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Đóng</button>
        </form>
    </div>
</footer>