<main class="main pb-5">
    <section class="breadcrumbs">
        <!--  breadcrumbs section  -->
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Thông tin sản phẩm</h2>
                <ol>
                    <li><a href="index.html">Trang chủ</a></li>
                    <li><a href="product.html">Sản phẩm</a></li>
                    <li>Thông tin sản phẩm</li>
                </ol>
            </div>
        </div>
        <!-- breadcrumbs section -->
    </section>

    <!--  product details section  -->
    <section id="product-details" class="product-details">
        <div class="container">
            <div class="row gy-4">
                <div class="col pc-8 tablet-12">
                    <div class="product-details-slider swiper" data-aos="fade-right">
                        <div class="swiper-wrapper align-items-center">
                            <div class="swiper-slide">
                                <img src="assets/img/product/product-details-1.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/product/product-details-2.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/product/product-details-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col tablet-12 pc-4">
                    <div class="product-info" data-aos="fade-left">
                        <h3>Giày Nike Jordan 1 Retro High OG 'Heritage' 555088-16</h3>
                        <ul>
                            <li><strong>Giá</strong>: <span class="text-danger">6,500,000₫</span></li>
                            <li><strong>Tình trạng</strong>: <span class="w3-text-teal">Còn hàng</span></li>
                            <li class="d-flex align-items-center sizeOfShoes">
                                <strong style="margin-right: 10px;">Kích cỡ:</strong>
                                <span class="pagination size-shoes">
                                        <span class="page-item"><a class="page-link" href="javascript:void(0)">37</a></span>
                                <span class="page-item"><a class="page-link" href="javascript:void(0)">38</a></span>
                                <span class="page-item"><a class="page-link" href="javascript:void(0)"><s
                                                    class="text-danger">39</s></a></span>
                                <span class="page-item"><a class="page-link" href="javascript:void(0)">40</a></span>
                                <span class="page-item"><a class="page-link" href="javascript:void(0)"><s
                                                    class="text-danger">41</s></a></span>
                                <span class="page-item"><a class="page-link" href="javascript:void(0)">42</a></span>
                                <span class="page-item"><a class="page-link" href="javascript:void(0)">43</a></span>
                                <span class="page-item"><a class="page-link" href="javascript:void(0)">44</a></span>
                                </span>
                            </li>
                            <li>Gọi điện đặt mua: 0387497691 (10h-22h từ T2-CN)</li>
                            <div id="methodBuy" class="d-flex justify-content-around">
                                <button type="button" class="btn btn-primary"><i
                                            class="fa-duotone fa-cart-circle-plus"></i> Thêm vào giỏ</button>
                                <button type="button" class="btn btn-warning"><i
                                            class="fa-duotone fa-money-bill-wave"></i> Mua ngay</button>
                            </div>
                        </ul>
                    </div>
                    <div class="product-description p-3" data-aos="fade-up">
                        <h2>Thông tin về sản phẩm</h2>
                        <p>
                            Mua Giày Nike Jordan 1 Retro High OG 'Heritage' 555088-161 chính hãng 100% có sẵn tại HCJS Store. Cam kết đền tiền X5 nếu phát hiện Fake. Đổi trả miễn phí size. FREE vệ sinh giày trọn đời. MUA NGAY!
                        </p>
                        <div class="videoReview">
                            <h3 class="text-light">Video review</h3>
                            <a href="javascript:void(0)" role="button" data-bs-toggle="modal" data-bs-target="#videoReview">
                                <img src="https://i.ytimg.com/vi/ZtzX6svJDdo/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBMgTxqIlzE7A1AaSe5rDqZ5Z9pXQ" alt="" class="col mobile-12">
                                <i class="ytPlayLogo fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end product detail -->

    <div class="container mt-5" data-aos="fade-up">
        <b>
                    <h2>Xem thêm sản phẩm khác</h2>
                </b>
        <div class="row">
            <div class="col pc-2 mobile-6 pb-3 pt-3">
                <div class="more-item more-item1 m-2 pb-3">
                    <img src="assets/img/saleoff-items/be.jpg" alt="">

                    <h5><a routerLink="/products-details">Basas New Familiar</a></h5>

                    <p><b>Giá: 1.100.00đ</b></p>
                    <div class="d-flex text-danger align-items-center rating">
                        <span class="text-dark">Đánh giá:&ensp;</span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="col pc-2 mobile-6 pb-3 pt-3">
                <div class="more-item more-item2 m-2 pb-3">
                    <img src=" assets/img/saleoff-items/den-cam.jpg " alt=" ">

                    <h5><a routerLink="/products-details">Vintas Mister</a></h5>

                    <p><b>Giá: 1.999.00đ</b></p>
                    <div class=" d-flex text-danger align-items-center rating ">
                        <span class=" text-dark ">Đánh giá:&ensp;</span>
                        <i class=" fa-solid fa-star "></i>
                        <i class=" fa-solid fa-star "></i>
                        <i class=" fa-solid fa-star "></i>
                        <i class=" fa-solid fa-star "></i>
                        <i class=" fa-solid fa-star "></i>
                    </div>
                </div>
            </div>
            <div class=" col pc-2 mobile-6 pb-3 pt-3 ">
                <div class=" more-item more-item3 m-2 pb-3 ">
                    <img src=" assets/img/saleoff-items/den-vang.jpg" alt="">

                    <h5><a routerLink="/products-details">Basas Simple Life</a></h5>

                    <p><b>Giá: 2.000.00đ</b></p>
                    <div class="d-flex text-danger align-items-center rating">
                        <span class="text-dark">Đánh giá:&ensp;</span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="col pc-2 mobile-6 pb-3 pt-3">
                <div class="more-item more-item4 m-2 pb-3">
                    <img src=" assets/img/saleoff-items/do.jpg " alt=" ">

                    <h5><a routerLink="/products-details">Urbas Bloody</a></h5>

                    <p><b>Giá: 2.100.00đ</b></p>
                    <div class=" d-flex text-danger align-items-center rating ">
                        <span class=" text-dark ">Đánh giá:&ensp;</span>
                        <i class=" fa-solid fa-star "></i>
                        <i class=" fa-solid fa-star "></i>
                        <i class=" fa-solid fa-star "></i>
                        <i class=" fa-solid fa-star "></i>
                        <i class=" fa-solid fa-star-half-stroke "></i>
                    </div>
                </div>
            </div>
            <div class=" col pc-2 mobile-6 pb-3 pt-3 ">
                <div class=" more-item more-item5 m-2 pb-3 ">
                    <img src=" assets/img/saleoff-items/xanh.jpg " alt=" ">

                    <h5><a routerLink="/products-details">Vintas Yesterday</a></h5>

                    <p><b>Giá: 900.00đ</b></p>
                    <div class=" d-flex text-danger align-items-center rating ">
                        <span class=" text-dark ">Đánh giá:&ensp;</span>
                        <i class=" fa-solid fa-star "></i>
                        <i class=" fa-solid fa-star "></i>
                        <i class=" fa-solid fa-star "></i>
                        <i class=" fa-solid fa-star "></i>
                        <i class=" fa-solid fa-star-half-stroke "></i>
                    </div>
                </div>
            </div>
            <div class=" col pc-2 mobile-6 pb-3 pt-3 ">
                <div class=" more-item more-item6 m-2 pb-3 ">
                    <img src=" assets/img/saleoff-items/xanh-vang.jpg" alt="">

                    <h5><a routerLink="/products-details">Urbas Unsettling</a></h5>

                    <p><b>Giá: 2.700.00đ</b></p>
                    <div class="d-flex text-danger align-items-center rating">
                        <span class="text-dark">Đánh giá:&ensp;</span>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5" data-aos="fade-up">
        <div class="row d-flex justify-content-center">
            <div class="col mobile-12 interact">
                <div class="headings d-flex justify-content-between align-items-center mb-3" data-aos="fade-in">
                    <h3>Comment đánh giá</h3>
                </div>
                <form action="" class="comment-box m-3" data-aos="fade-in">
                    <textarea class="cmt p-3" name="" rows="5" placeholder="Đánh giá sản phẩm hoặc đặt câu hỏi..."></textarea>
                    <br>
                    <div>
                        <div class="d-flex justify-content-start">
                            <a href="javascript:void(0)" class="btn btn-primary" style="margin-right: 15px"><i
                                        class="fa-solid fa-comment"></i> Gửi bình luận</a>
                            <a href="javascript:void(0)" class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#voteStar"><i
                                        class="fa-solid fa-circle-star"></i> Đánh giá</a>
                        </div>

                    </div>
                </form>
                <div class="row justify-content-between">
                    <div class="col mobile-12 pc-5 pt-3">
                        <div class="p-2 rating-box m-3" data-aos="fade-in">
                            <span class="heading">Đánh giá của người dùng</span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <hr style="border:3px dashed #797777">
                            <p>4,1 sao trung bình dựa trên 254 nhận xét.</p>
                            <div class="row user-rate">
                                <div class="side">
                                    <div>5 sao</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-5"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>150</div>
                                </div>
                                <div class="side">
                                    <div>4 sao</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-4"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>63</div>
                                </div>
                                <div class="side">
                                    <div>3 sao</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-3"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>15</div>
                                </div>
                                <div class="side">
                                    <div>2 sao</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-2"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>6</div>
                                </div>
                                <div class="side">
                                    <div>1 sao</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-1"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>20</div>
                                </div>
                            </div>
                        </div>
                        <div class="row-list" data-aos="fade-in">
                            <h2>TIN TỨC & BÀI VIẾT</h2>
                        </div>
                        <div class="row new-list" data-aos="fade-in">
                            <div class="mobile-6 tablet-6 pc-6 post-item pt-3 pb-3">
                                <a href="news1.html"><img src="assets/img/tui4.webp"></a>
                                <h3 class="title">
                                    <a href="news1.html">Đẳng cấp chiếc túi Lady Dior "bạch tạng" đang gây sốt: Đỉnh cao kỹ thuật xử lý da cá sấu!</a>
                                </h3>
                                <p>Cơn sốt mang tên "Lady Dior Himalayan'' đang khiến giới mộ điệu Việt ''phát sốt'' dạo gần đây....</p>
                            </div>
                            <div class="mobile-6 tablet-6 pc-6 post-item pt-3 pb-3">
                                <a href="news2.html"><img src="assets/img/tintuc/news2.jpg"></a>
                                <h3 class="title">
                                    <a href="news2.html">HAI MÙA TRÔI QUA, TẠI SAO MÀU XANH LÁ VẪN CHƯA “HẠ NHIỆT”?</a>
                                </h3>
                                <p>Hầu hết chúng ta đều biết xanh lá là một trong những màu sắc thống trị năm 2021. Ngay cả khi Daniel Lee – người đã xuất sắc xa xỉ hóa màu sắc này để sáng lập “vương triều xanh lá” ở Bottega Veneta đã rời đi...</p>
                            </div>
                            <div class="mobile-6 tablet-6 pc-6 post-item pt-3 pb-3">
                                <a href="news3.html"><img src="assets/img/tintuc/news3.jpg"></a>
                                <h3 class="title">
                                    <a href="news3.html">5 XU HƯỚNG THỜI TRANG ĐƯỜNG PHỐ LAN TỎA NÉT HÀO NHOÁNG CỦA THẬP NIÊN 70</a>
                                </h3>
                                <p>Lộng lẫy, bóng bẩy, nổi loạn,… thập niên 70 gợi nhớ về những cuộc chơi “thâu đêm suốt sáng” tại vũ trường, nơi khai sinh ra phong cách disco...</p>
                            </div>
                            <div class="mobile-6 tablet-6 pc-6 post-item pt-3 pb-3">
                                <a href="javascript:void(0)"><img src="assets/img/tintuc/shoes-anatomy-thumbnail-300x160.jpg"></a>
                                <h3 class="title">
                                    <a href="javascript:void(0)">"GIẢI PHẪU" GIÀY VULCANIZED</a>
                                </h3>
                                <p>Trong phạm vi bài viết ngắn, hãy cùng nhau tìm hiểu cấu tạo giày Vulcanized Sneaker - loại sản phẩm mà Ananas đã chọn làm "cốt lõi" để theo đuổi trong...</p>
                            </div>
                        </div>
                    </div>
                    <div class=" pc-7 col mobile-12 user-cmt">
                        <div class="cmt-box pb-5 pt-3">
                            <div class="card p-3 m-3" data-aos="fade-in">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="user d-flex flex-row align-items-center">
                                        <span><img src="https://i.ibb.co/GWfqgQG/chi.png" width="30"
                                                    class="user-img rounded-circle mr-2">
                                                <small class="font-weight-bold text-primary">Nguyễn Thị Kim
                                                    Chi</small>
                                                <br><small class="font-weight-bold">Đôi giày này đi rất thích,
                                                    giá lại
                                                    rất phải chăng.</small></span>
                                    </div>
                                    <small>3 tiếng trước</small>
                                </div>
                                <div class="action d-flex justify-content-between mt-2 align-items-center">
                                    <div class="reply">
                                        <small>Thích</small>
                                        <small>Trả lời</small>
                                        <small data-bs-toggle="tooltip" data-bs-placement="bottom" title="Báo cáo nếu thấy bình luận này vi phạm tiêu chuẩn cộng đồng!">Báo
                                                cáo</small>
                                    </div>
                                    <div class="icons align-items-center">
                                        <i class="fa fa-star text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Bình luận nổi bật"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="employees-card">
                                <div class="card p-3" data-aos="fade-in">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="user d-flex flex-row align-items-center">
                                            <span><img src="/assets/img/favicon.ico" width="30"
                                                        class="user-img rounded-circle mr-2">
                                                    <small class="font-weight-bold text-primary">HCJS Store <i
                                                            class="fa-solid fa-circle-check text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tài khoản đã được xác minh"></i></small>
                                                    <br><small class="font-weight-bold">Cảm ơn quý khách đã ủng
                                                        hộ shop
                                                        <3.</small></span>
                                        </div>
                                        <small>2 tiếng trước</small>
                                    </div>
                                    <div class="action d-flex justify-content-between mt-2 align-items-center">
                                        <div class="reply">
                                            <small>Thích</small>
                                            <small>Trả lời</small>
                                            <small data-bs-toggle="tooltip" data-bs-placement="bottom" title="Báo cáo nếu thấy bình luận này vi phạm tiêu chuẩn cộng đồng!">Báo
                                                    cáo</small>
                                        </div>
                                        <div class="icons align-items-center">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card p-3 m-3" data-aos="fade-in">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="user d-flex flex-row align-items-center">
                                        <span><img
                                                    src="https://i.ibb.co/PN3Zg53/286901303-4907479752711677-5489418552552501111-n.jpg"
                                                    width="30" height="30" class="user-img rounded-circle mr-2">
                                                <small class="font-weight-bold text-primary">Phạm Hữu
                                                    Phước</small>
                                                <br><small class="font-weight-bold">Giày đẹp.</small></span>
                                    </div>
                                    <small>7 tiếng trước</small>
                                </div>
                                <div class="action d-flex justify-content-between mt-2 align-items-center">
                                    <div class="reply">
                                        <small>Thích</small>
                                        <small>Trả lời</small>
                                        <small data-bs-toggle="tooltip" data-bs-placement="bottom" title="Báo cáo nếu thấy bình luận này vi phạm tiêu chuẩn cộng đồng!">Báo
                                                cáo</small>
                                    </div>
                                    <div class="icons align-items-center">

                                    </div>
                                </div>
                            </div>
                            <div class="card p-3 m-3" data-aos="fade-in">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="user d-flex flex-row align-items-center">
                                        <span><img src="assets/img/team/avt default.jpg" width="30" height="30"
                                                    class="user-img rounded-circle mr-2">
                                                <small class="font-weight-bold text-primary">Nguyễn Viết
                                                    Khánh</small>
                                                <br><small
                                                    class="font-weight-bold">************************</small></span>
                                    </div>
                                    <small>1 ngày trước</small>
                                </div>
                                <div class="action d-flex justify-content-between mt-2 align-items-center">
                                    <div class="reply">
                                        <small>Thích</small>
                                        <small>Trả lời</small>
                                        <small data-bs-toggle="tooltip" data-bs-placement="bottom" title="Báo cáo nếu thấy bình luận này vi phạm tiêu chuẩn cộng đồng!">Báo
                                                cáo</small>
                                    </div>
                                    <div class="icons align-items-center">
                                        <i class="fa-solid fa-circle-exclamation text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Bình luận này đã bị ẩn vì chứa lời lẽ không phù hợp"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card p-3 m-3" data-aos="fade-in">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="user d-flex flex-row align-items-center">
                                        <span><img
                                                    src="https://i.ibb.co/Gsp0K0x/279223428-822609865364165-5691645334244217133-n.jpg"
                                                    width="30" height="30" class="user-img rounded-circle mr-2">
                                                <small class="font-weight-bold text-primary">Phạm Thanh
                                                    Long</small>
                                                <br><small class="font-weight-bold">Tôi có thể order size 39
                                                    ko?</small></span>
                                    </div>
                                    <small>2 ngày trước</small>
                                </div>
                                <div class="action d-flex justify-content-between mt-2 align-items-center">
                                    <div class="reply">
                                        <small>Thích</small>
                                        <small>Trả lời</small>
                                        <small data-bs-toggle="tooltip" data-bs-placement="bottom" title="Báo cáo nếu thấy bình luận này vi phạm tiêu chuẩn cộng đồng!">Báo
                                                cáo</small>
                                    </div>
                                    <div class="icons align-items-center">

                                    </div>
                                </div>
                            </div>
                            <div class="employees-card">
                                <div class="card p-3" data-aos="fade-in">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="user d-flex flex-row align-items-center">
                                            <span><img src="/assets/img/favicon.ico" width="30"
                                                        class="user-img rounded-circle mr-2">
                                                    <small class="font-weight-bold text-primary">HCJS Store <i
                                                            class="fa-solid fa-circle-check text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tài khoản đã được xác minh"></i></small>
                                                    <br><small class="font-weight-bold">Dạ được ạ, bạn ib cho
                                                        shop để
                                                        order nhé <3.</small></span>
                                        </div>
                                        <small>20 tiếng trước</small>
                                    </div>
                                    <div class="action d-flex justify-content-between mt-2 align-items-center">
                                        <div class="reply">
                                            <small>Thích</small>
                                            <small>Trả lời</small>
                                            <small data-bs-toggle="tooltip" data-bs-placement="bottom" title="Báo cáo nếu thấy bình luận này vi phạm tiêu chuẩn cộng đồng!">Báo
                                                    cáo</small>
                                        </div>
                                        <div class="icons align-items-center">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <nav aria-label="Page navigation ">
                                <ul class="pagination justify-content-center ">
                                    <li class="page-item ">
                                        <a class="page-link " href="javascript:void(0) " aria-label="Previous ">
                                            <span aria-hidden="true ">&laquo;</span>
                                            <span class="visually-hidden ">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item active "><a class="page-link " href="javascript:void(0) ">1</a>
                                    </li>
                                    <li class="page-item "><a class="page-link " href="javascript:void(0) ">2</a>
                                    </li>
                                    <li class="page-item "><a class="page-link " href="javascript:void(0) ">3</a>
                                    </li>
                                    <li class="page-item "><a class="page-link " href="javascript:void(0) ">4</a>
                                    </li>
                                    <li class="page-item "><a class="page-link " href="javascript:void(0) ">5</a>
                                    </li>
                                    <li class="page-item ">
                                        <a class="page-link " href="javascript:void(0) " aria-label="Next ">
                                            <span aria-hidden="true ">&raquo;</span>
                                            <span class="visually-hidden ">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>